name: Docker build and deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Install YC CLI
      run: curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
    - name: YC init
      run: yc init --token ${{ secrets.YC_TOKEN }} --folder-name default
    - name: Read repo name
      run: echo "REPO_NAME=`echo "$GITHUB_REPOSITORY" | cut -d "/" -f 2`" >> $GITHUB_ENV
    - name: Docker build
      id: docker_build
      uses: docker/build-push-action@v3
      with:
        context: ./
        file: ./docker/titanic/Dockerfile
        load: true